.player-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-infos {
    margin-left: 5%;
    font-size: 20px;
}

#player {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(88,88,93,1) 220%);
}

#main {
    --background: linear-gradient(180deg, rgb(48, 48, 48) 0%, rgb(165, 165, 165) 220%);
}

#fab-left {
    margin-right: 40%;
}

#fab-right {
    margin-left: 40%;
}

#random-button {
    margin-left: 5%;
    margin-top: 15px;
    font-size: 25px;
}

#list-button {
    margin-left: 75%;
    margin-top: 15px;
    font-size: 25px;   
}

#player-title {
    font-size: 35px;  
    margin-bottom: 0px;  
}

#player-range {
    margin-top: 10px;
}