#dark-page{
    --background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(58, 58, 58) 220%);
}

#menu-run {
    font-size: 30px;
    padding-left: 0px;
    font-weight: bolder;
}

#menu-playlist {
    font-size: 30px;
    padding-right: 0px;
    padding-left: 2px;
    font-weight: bolder;
}

#menu {
    margin-top: -10px;
}

#playlist-list {
    background-color: rgba(39, 39, 39, 0.116);
}

#playlist-list-item {
    --background: rgba(39, 39, 39, 0.116);
}

#playlist-title {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#playlist-tracks {
    color: white;
    font-weight: 400;
}