<ion-content id='dark-page'>
  <ion-grid id="menu">
    <ion-row>
      <ion-col size="4">
        <ion-title (click)="goToPlaylists()" size="large" id="menu-playlist" color="medium">Playlist</ion-title>               
      </ion-col>
      <ion-col>
        <ion-title size="large" id="menu-run" color="light">Course</ion-title>               
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="gaugeDiv">
    <app-gauge #bpmGauge></app-gauge>
  </div>

  <ion-button id="button-stop" size="default">Stop</ion-button>

  <div id="spotifyPlayer">
    <app-spotify #spotifyPlayer></app-spotify>
  </div>
</ion-content>
